/*******************************
    BODY
*********************************/
body {
    background-color: teal;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

h1 {
    font-size: 5rem;
}

h1{
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
    margin-top: 5rem;
    color: white;
} 

h3 {
    color: yellowgreen; 
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

aside {
    background-color: grey;
    border-radius: 2rem;
}

aside p{
    font-size: 1.8rem;
    text-align: center;
    color: white;
}

p {
    font-size: 3rem;
    color: lightgray;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    color: white;
    text-align: center;
}


/*****************************
    INDEX PAGE
******************************/
ul li {
    list-style-type: none;
    display: list-item;    
    font-size: 2rem;
}

ul {
    margin-top: 5rem;
}
    
/*answer area for all pages*/
    .qa-area {
        background-color: white;
        text-align: center;
        border: 1rem solid yellowgreen;
        padding: 1rem;
        box-shadow: 2rem 1rem;
        color: darkslategray;
}

header {
    text-align: center;
    color: white;
}


/**************************
    questionFive.html PG
***************************/
container {
    padding:  2rem;
    margin-top: 2rem;
}

#col-1 {
    background-color: pink;
}

#col-2 {
    background-color: burlywood;
}


#col-3 {
    background-color: lightcoral;
}

.answer-with-code {
    text-align: left;   
    padding: 2rem;
}

.question-5-grid p{
    color: black;
}


/**************************
    questionSix.html PG
***************************/
#absolute {
    background-color: lightgray;
    position: absolute;
    left: 60rem;
    top: 50rem;
    width: 25rem;
    padding: 1rem;
}

#fixed {
    background-color: lightskyblue;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25rem;
    padding: 1 rem;
}

#relative {
    background-color: burlywood;
    position: relative;
    left: 30rem;
    top: -10rem;
    padding: 1rem;
    width: 25rem;
}

#static {
    background-color: pink;
    float: static;
    padding: 1rem;
    width: 25rem;
}


/**************************
    questionSeven.html PG
***************************/
#float-left {
    float: left;
    padding: 1rem;
}

#float-right {
    float: right;
    padding: 1rem;
    background-color: yellow;
}


/**************************
    questionEight.html PG
***************************/
#question8-float {
    float: right;
    padding: 1rem;
    width: 40rem;
    background-color: yellowgreen;
    text-align: center;
    font-size: 2rem;
}

#clear-float-para {
    clear: both;
    padding-top: 2rem;
}

/*****************************************
    questionNine.html PG
******************************************/
img {
    width: auto;
    height: 100%;
}

aside p a:link, aside p a:visited{
    color: yellowgreen;
}


/*****************************************
    question16.html PG
******************************************/
#addition-result {
    color: white;
    text-align: center;
    font-size: 5rem;
}


/*************************************
    <code> div for #5 #16, #17, #18
*************************************/
code {
    font-size: 1.5rem;
}

/*******************************
    question18.html
********************************/
#movie-result {
    text-transform: uppercase;
    padding: 1rem;
}


/*****************************
    FOOTER for all pages
******************************/
#social-media-li {
    text-decoration: none;
    display: inline;
}

#social-media-icon {
    width: 4%;
    text-transform: uppercase;
}

footer p {
    text-align: center;
}

footer ul {
    text-align: center;
    padding: 0rem;
}

footer {
    margin-top: 5rem;
    clear: both;
}

